header {
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 90px;
    background: rgba(0, 128, 0, 0.50);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  
  .header-text-container {
    display: inherit;
    width: calc(15% - 40px);
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .header-container {
    display: flex;
    margin-left: auto;
  
    img {
      margin-right: 20px;
    }
  }

 